language: groovy
jdk:
  - openjdk6
script: ./gradlew test
env:
  global:
  - secure: "cfN8T1O4eMI6Bt6u73XlNX7IcWeqNABJD5d8lXghbBN27uCszk3iGU+7MC+O+SO0GXS2iJ8jqrhM+AjmI4XloQx1Uzva9tRnMovGi6rz/yAxYYwwpzqMSnL0l3+wVnBkowYEIZkDNdgMyezuyS2ZtAuK5gaFAAc86prnyIX5Y9k="
  - secure: "Y4GW71It/5g68SgexqjLYav8PnnlaWHTTuESC76Qh4PD/OylfnsOQv6wDhsK8kJ76fnAebmRB/qjkkUwLK9jTMeD/Fry7gl61bhIp428Jb741lW/saIC7oVy8BrlywCF/mKsBU3bFQWgVnpn2l4XlYvWjnqDGyvGQCfv3zIxhCw="
after_success:
  - ! '[[ $TRAVIS_BRANCH =~ ^(v[0-9]+\.[0-9]+\.[0-9]+|master)$ && $TRAVIS_PULL_REQUEST
    = false ]] && ./gradlew install uploadArchives'
